@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none;
}

.swiper-container-free-mode > .swiper-wrapper{
    transition-timing-function : linear !important;
}

.swiper-scrollbar-drag {
    @apply bg-primary rounded-none;
}

.curve .svg, .background{
        position: fixed;
        height: calc(100dvh + 600px);
        width: 100vw;
        pointer-events: none;
        left: 0;
        top: 0;
        z-index: 99;
        fill : #0156cf;
}

@media (max-width: 768px) {
        .curve .svg, .background {
                height: calc(100dvh + 400px);
        }
}

.curve .background{
        background-color: #0156cf;
        transition: opacity 0s linear 0.1s;
}

.curve .route{
        position: fixed;
        left: 50%;
        top: 40%;
        z-index: 100;
        transform: translateX(-50%);
}
